<link rel="stylesheet" title="Standard" href="/assets/common.css" type="text/css" media="screen" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
     	<ul class="nav">
	       <li><%= link_to "Home", root_path %></li>
	       <li><%= link_to "About", about_path %></li>
	    </ul>
	    <ul class="nav pull-right">
	    <% if user_signed_in? %>
         <li><%= link_to "Upload +", new_pin_path %></li>
         <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	       <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	     <% else %>
	       <li><%= link_to "Login", new_user_session_path %></li>
	     <% end %>
	    </ul>

      </div>
    </div>
 </div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div align="center">
		<h1 id="roi">
			<b> ROI Comparison Chart </b><br><br>
		</h1>
		<table class="table table-hover">
		<tr>
		<th></th>
		<th>Email</th>
		<th>Email With Wallet Manager</th>
		</tr>
		<tr>
		<td><b>ROI</b></td>
		<td><%= @email_roi.round  %>%</td>
		<td> <%= @wallet_manager_roi.round %>%</td>
		</tr>
		<tr>
		<td><b>Profit</b></td>
		<td><%=number_to_currency @email_profit.round  %></td>
		<td><%= number_to_currency @wallet_manager_profit %></td>
		</tr>
		</table><br><br>
		</div>
	</div>
</div>




<div align="center">
	<a href="/roi"><button id="btn"class="btn-back btn-large btn-primary">Back</button></a>
</div>
